{% extends 'base.html' %}

{% block title %}
Stars
{% endblock %}


{% block body %}
    <div class="wrapper">
        <h1>Оцените работу нашего сервиса!</h1>
        <form  class="form form_margin" method="POST">
            <div class="form_item">
                <div class="form_label">Выберете оценку и нажмите 'Отправить'.</div>
                <div class="simple-rating">
                    <div class="simple_rating_items">
                        <input id="simple-rating_5" type="radio" class="simple_rating_item" name="simple-rating" value="5">
                        <label for="simple-rating_5" class="simple_rating_label"></label>
                        <input id="simple-rating_4" type="radio" class="simple_rating_item" name="simple-rating" value="4">
                        <label for="simple-rating_4" class="simple_rating_label"></label>
                        <input id="simple-rating_3" type="radio" class="simple_rating_item" name="simple-rating" value="3">
                        <label for="simple-rating_3" class="simple_rating_label"></label>
                        <input id="simple-rating_2" type="radio" class="simple_rating_item" name="simple-rating" value="2">
                        <label for="simple-rating_2" class="simple_rating_label"></label>
                        <input id="simple-rating_1" type="radio" class="simple_rating_item" name="simple-rating" value="1">
                        <label for="simple-rating_1" class="simple_rating_label"></label>
                    </div>
                </div>
                <p>
                    <button class="btn">Отправить!</button>
                </p>
            </div>
        </form>
    </div>
{% endblock %}